@font-face {
  font-family: QuiteMystical;
  src: url('./public/fonts/QuiteMagicalRegular.ttf');
}
@font-face {
  font-family: OctoberTwilight;
  src: url('./public/fonts/OctoberTwilight.otf');
}
:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Colors */
  --text: #d3cbbb;
  --light-purple: #735364;
  --purple: #4f314b;
  --dark-purple: #382c4c;
  --brown: #4d3a34;
  --secondary-text: #847c7c;
}
body {
  font-family: QuiteMystical;
  color: var(--text);
  margin: 0;
  overflow-x: hidden;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}
button {
  cursor: pointer;
}
h1 {
  font-family: OctoberTwilight;
  padding: 0 3vmin;
  font-size: clamp(3rem, 10vw, 8rem);
}
.main-button {
  box-sizing: border-box;
  background-color: var(--dark-purple);
  border-radius: 1rem;
  width: min(15rem, 30vw);
  min-width: 8rem;
  font-size: 3em;
  border: 6px dashed var(--brown);
  border-radius: 16px;
  text-align: center;
  position: relative;
}
.main-button:hover::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--light-purple);
  z-index: -1;
  left: 0;
  animation: background-fade-in 1s ease-out;
  transform-origin: center;
  position: absolute;
  z-index: -1;
  filter: blur(2rem);
}
.main-input {
  background-color: var(--dark-purple);
  border: 2px solid var(--light-purple);
  color: var(--text);
  font-size: 2em;
  width: 50%;
  padding: 0 1vmin;
}
@keyframes background-fade-in {
  100% {
    scale: 2;
    opacity: 0;
  }
}
.content-container {
  z-index: 999;
  position: absolute;
  width: 100%;
}
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  height: 100dvh;
  text-align: center;
  align-items: center;
  padding: 5vmin 0;
  padding-bottom: 20vmin;
  transition: all 0.5s cubic-bezier(0.42, 0.08, 0.73, 1);
}
.title-background {
  background: radial-gradient(
    50% 40% at 50% 50%,
    rgba(255, 153, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
.start-buttons-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  width: 100%;
  padding: 0 10vmin;
}
@media screen and (max-width: 1000px) {
  .start-buttons-container {
    padding: 0;
    gap: 3vmin;
  }
}
.try-again-container {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  height: 100dvh;
  text-align: center;
  align-items: center;
  padding: 5vmin 0;
  padding-bottom: 20vmin;
  transition: opacity 0.5s cubic-bezier(0.42, 0.08, 0.73, 1);
}
.ask-question-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100dvh;
  text-align: center;
  align-items: center;
  transition: opacity 0.5s cubic-bezier(0.42, 0.08, 0.73, 1);
  position: absolute;
  gap: 3svmin;
}
.show-scene-container {
  display: none;
  position: absolute;
  gap: 3vmin;
  font-size: 2em;
}
.show-scene-container button {
  font-size: 1em;
  width: auto;
  display: grid;
  place-items: center;
}
